<template>
  <div class="hello">
    <md-layout md-gutter = "40" class="acoes">
      <md-layout md-flex="50">
        <md-card class="md-primary facebookColor" md-with-hover @click.native="loginFB()">
          <md-card-content>
            <md-card-media>
              <img src="../assets/fb.png" alt="Facebook" class="facebook">
            </md-card-media>
            <h2>
              Pedir por email para seus amigos validarem sua conta
            </h2>
          </md-card-content>
        </md-card>
      </md-layout>
      <md-layout md-flex="50">
        <md-card class="md-primary bank" md-with-hover @click.native="loginBank()">
          <md-card-content>

          <md-card-media>
            <img src="../assets/bank.png" alt="bank" class="facebook">
          </md-card-media>
            <h2>Cadastrar conta bancária</h2>
          </md-card-content>
        </md-card>
      </md-layout>
    </md-layout>
  </div>
</template>

<script>
export default {
  name: 'hello',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    loginFB() {
      FB.login(function(){
        // Note: The call will only work if you accept the permission request
        FB.api('/me?fields=name,email', 'get', function(infos){
          console.log(infos)
        });
      }, {scope: 'read_custom_friendlists'})
    },
    loginBank() {
      swal("Ainda em desenvolvimento", "Por favor aguarde o próximo hackaton do Experiance Jam", "error")
    }
  },
  mounted () {
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '236142876866446',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card {
    width: 100%;
    text-align: center;
  }

  .bank {
    width: 100%;
    text-align: center;
    background: #fb6743 !important;
  }

  .facebookColor {
    width: 100%;
    text-align: center;
    background: #8b9dc3 !important;
  }

  .acoes {
    margin-top: 40px;
  }

  .facebook {
    width: 50% !important;
  }

  .msg small{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 100;
  }

  .msg{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
  }
</style>
