<template>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="tituloform" v-if="confirmed"> Obrigado por nos ajudar a trazer mais pessoas para a ferramenta!</div>
</div>
</template>

<script>
export default {
  name: 'form',
  data () {
    return {
      confirmed: false,
      infos: {
        cpf: "1",
        senha: "123"
      }
    }
  },
  mounted () {
    const self = this;
    swal({
    title: 'Quer indicar seu amigo para o Serasa Consumidor?',
    text: "Ajude-o a utilizar essa ferramenta incrível",
    type: 'success',
    showCancelButton: true,
    confirmButtonColor: '#29b6f6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sim, indicar!'
    }).then(function () {
        swal(
          'Obrigado!',
          'Seu amigo logo terá seu cadastro ativado!',
          'success'
        );
        const info = {
          c: self.infos.cpf,
          p: self.infos.senha,
          t: self.$route.params.token
        }
        self.$http.post('http://ec2-35-166-243-180.us-west-2.compute.amazonaws.com:5000/signin', info).then(response => {
          
        });
        self.confirmed = true;
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700";
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.tituloform {
  font-family: "Roboto";
  color: #575755;
  font-weight: 100;
  font-size: 33px;
  text-align: center;
  margin-bottom: 15px;
}

.divider {
  font-family: "Roboto";
  color: #575755;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
}


li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
