<template>
<div>
<div class="tituloform">Preencha o formulário abaixo para consultar seu CPF</div>
  <h2 class="divider"> Dados Pessoais </h2>
    <form novalidate @submit.stop.prevent="submit">  
      <md-layout md-gutter = "40">
        <md-layout md-flex="50">
          <md-input-container>
            <label>CPF</label>
            <md-input placeholder="Digite seu CPF" v-model="infos.cpf"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="50">
          <md-input-container>
            <label>Nome Completo</label>
              <md-input placeholder="Digite seu nome completo" v-model="infos.nome"></md-input>
            </md-input-container>
          </md-layout>
      </md-layout>
      <md-layout md-gutter = "40">
        <md-layout md-flex="50">
          <md-input-container>
            <label>Data de Nascimento</label>
            <md-input placeholder="Data de nascimento" v-model="infos.dataNascimento"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="50">
          <md-input-container>
            <label>Nome da Mãe</label>
              <md-input v-model="infos.nomeDaMae"></md-input>
            </md-input-container>
          </md-layout>
      </md-layout>
      <md-layout md-gutter = "40">
        <md-layout md-flex="50">
        <md-input-container>
            <label>Telefone</label>
            <md-input placeholder="Telefone" v-model="infos.telefone"></md-input>
          </md-input-container>
        </md-layout>
      </md-layout>
      <h2 class="divider"> Dados Pessoais </h2>
       <md-layout md-gutter = "40">
        <md-layout md-flex="50">
        <md-input-container>
            <label>Email</label>
            <md-input placeholder="Digite seu email" v-model="infos.email"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="50">
        <md-input-container>
          <label>Confirmar email</label>
            <md-input v-model="infos.emailConf"></md-input>
          </md-input-container>
        </md-layout>
      </md-layout>
      <md-layout md-gutter = "40">
        <md-layout md-flex="50">
        <md-input-container>
          <label>Senha</label>
            <md-input v-model="infos.senha"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="50">
        <md-input-container>
          <label>Confirmar senha</label>
            <md-input v-model="infos.senhaConf"></md-input>
          </md-input-container>
          <span class="md-caption" v-if="infos.senhaConf !== infos.senha">Senhas não correspondem</span>
        </md-layout>
      </md-layout>
    </form>
     <md-layout md-gutter>
        <md-layout md-flex="75">
            <md-button class="md-raised md-primary" style="border-radius: 5%" @click.native="register">Aceito os termos e quero continuar</md-button>
        </md-layout>
        <md-layout md-flex="25">
          <md-button class="md-accent">Ver <b>termos de contrato</b></md-button>
        </md-layout>
      </md-layout>
</div>
</template>

<script>
export default {
  name: 'form',
  data () {
    return {
      infos: {
        email: '',
        emailConf: '',
        senha: '',
        senhaConf: '',
        nome: '',
        dataNascimento: '',
        telefone: '',
        nomeDaMae: '',
        cpf: ''
      }
    }
  },
  methods: {
    register () {
      const info = {
        c: this.infos.cpf,
        p: this.infos.senha,
        e: this.infos.email,
        n: this.infos.nome,
        m: this.infos.nomeDaMae,
        d: this.infos.dataNascimento
      }
      this.$http.post('http://ec2-35-166-243-180.us-west-2.compute.amazonaws.com:5000/signup', info).then(response => {
        
      });
      this.$router.push({ path: '/validation' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700";
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.tituloform {
  font-family: "Roboto";
  color: #575755;
  font-weight: 100;
  font-size: 33px;
  text-align: center;
  margin-bottom: 15px;
}

.divider {
  font-family: "Roboto";
  color: #575755;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
}


li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
