<template>
  <div class="hello">
    <md-layout md-gutter = "40">
      <md-layout md-flex="100 card">
        <h1 class="msg" style="width:100%">
          Seu cadastro está quase pronto. <br>
          <small>Agora precisamos que você valide seu cadastro <br>utilizando um dos métodos abaixo</small>
        </h1>
      </md-layout>
    </md-layout>
    <actions></actions>
  </div>
</template>

<script>
import Actions from './Actions'
export default {
  name: 'hello',
  components: {
    'actions': Actions
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card {
    width: 100%;
    text-align: center;
  }

  .bank {
    width: 100%;
    text-align: center;
    background: #fb6743 !important;
  }

  .facebookColor {
    width: 100%;
    text-align: center;
    background: #8b9dc3 !important;
  }

  .acoes {
    margin-top: 40px;
  }

  .facebook {
    width: 50% !important;
  }

  .msg small{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 100;
  }

  .msg{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
  }
</style>
