<template>
  <div id="app">
    <md-whiteframe md-elevation=2>
      <md-toolbar md-theme="white">
        <md-layout md-gutter="8">
          <md-layout md-flex="100">
            <a class="navbar-brand" href="#/home">
              <i class="sprite sprite-logo-serasa"></i>
            </a>
          </md-layout>
        </md-layout>
      </md-toolbar>
    </md-whiteframe>
    <div class="page">
      <md-layout md-align="center" md-gutter="40">
        <md-layout md-flex="70">
          <md-whiteframe class="pagecontent" md-elevation=2>
             <router-view></router-view>
          </md-whiteframe>
        </md-layout>
      </md-layout>
    </div> 
  </div>
</template>

<script>
import { default as swal } from 'sweetalert2';
import TheMask from 'vue-the-mask';
export default {
  name: 'app',
  components: {TheMask}
}
window.swal = swal
</script>

<style>
#app {
}

.sprite {
    background-image: url('https://s3-sa-east-1.amazonaws.com/campanha.serasaconsumidor.com.br/rebranding/dist/img/sprites/experian-global-sprite.png');
    background-repeat: no-repeat;
    text-indent: -999em;
    display: inline-block;
    height:54px;
    width:177px
}

.page {
  min-height: calc(100vh - 64px);
  background: url('assets/fundo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
  overflow: hidden;
}

.pagecontent {
  background: white;
  width: calc(100% - 40px);
  margin-top: 16px;
  min-height: calc(100vh - 128px);
  padding: 40px;
}
</style>
